/* 导航 */
.head .nav .nav-li li:first-child a{color:#fff ;}
.head .nav .nav-li li:first-child::before{opacity: 0;}
.head .nav .nav-li li:hover::before{opacity: 1;transition: 1s;}
.head .nav .nav-li li:nth-child(3) a{color:#e44906 ;}
.head .nav .nav-li li:nth-child(3)::before{opacity: 1;}

/* 内容 */
.content{width: 1180px;height: 655px;border-radius: 16px;border: 1px solid rgba(0,0,0,0.1);margin: 20px auto;padding: 10px;}
.content img{width: 100%;height: 100%;display: block;border-radius: 16px;}
.content:hover{box-shadow: 0 0 20px rgba(228,73,6,0.3);transition: 1s;border:none;}